body{
    font-family: sans-serif;
    background-color: gray;

}

.container{
    width: 100%; /* largura do container, ocupará 100% da tela de acordo com seu elemento pai*/
    height: 100vh; /*altura do container, view-hight, se adaptará a altura da tela proporcionalmente*/
    display: flex;  /*os itens se ajustarão dentro do container*/
    justify-content: center;
    align-items: center;
    
}

.card{
    height: 400px;
    width: 500px;
    background-image: url("img/logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.75);
    color: rgb(245, 241, 241);
    cursor: pointer;
    transition: 0.3s;

  
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.card-wrapper::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity:0 ;
    transition: 0.3s;

}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase ;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;

}

.card-wrapper p{
    font-size: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    visibility: hidden;
    opacity:0 ;
}


.card:hover{
    filter:unset;
}

.card:hover>.card-wrapper::before{
    height: 300px;
    width: 400px;
    opacity: 1;
}

.card:hover>.card-wrapper p{
    opacity: 1;
    visibility: visible;
    font-size: 14px;

}